<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Borders Collie</title>
    <link rel="stylesheet" href="../css/estilo.css">
    <link rel="shortcut icon" href="" type="image/x-icon">
</head>
    <!-- Titulo de la pagina -->
    <header class="titulo__pag">
        <h1>Border Collie</h1>
    </header>
    <body>
        <div class="contenedor">
            <header class="navegacion">
                <img class="navegacion__img" src="../assets/images/logoBarra.svg" alt="logo cara de perro">
                <h1 class="navegacion__titulo">Border Collie</h1>
                <!-- menú de navegacion -->
                <div class="navegacion__botones">
                    <nav>
                        <ul>
                            <a href="../index.html">
                                <li>Home</li>
                            </a>
                            <a href="historia.html">
                                <li>Historia</li>
                            </a>
                            <a href="conducta.html">
                                <li>Conducta</li>
                            </a>
                            <a href="galeria.html">
                                <li>Galeria</li>
                            </a>
                            <a href="contacto.html">
                                <li>Contacto</li>
                            </a>
                        </ul>
                    </nav>
                </div>
                <!-- imagen a la izquierda -->
                <!-- <div class="navegacion__img">
                    <img src="/assets/images/border-collie-perfil.jpg" alt="">
                </div> -->
            </header>
            <div class="titulo__historia">
                <h2>Contacto</h2>
            </div>
            
        </div>
    <!-- Footer -->
    <footer class="footer">
        <div class="footer__info">
            <p>Lorem ipsum, dolor sit amet consectetur <br> adipisicing elit. Autem soluta saepe eos odit <br> incidunt. Quasi!</p>
        </div>
        <!-- Subscripcion a newslatter -->
        <form class="footer__news" action="newslater.php" method="get">
            <label for="newslatter">Subscribite a <br> nuestras novedades</label>
            <input type="email" name="newslatter" placeholder="Ingresa tu correo" required >
            <input type="submit" value="Subscribirse">
        </form>
        <!-- Iconos a rrss -->
        <div class="footer__rrss">
            <a href="https://www.facebook.com/"><img src="/assets/icons/FACE.png" alt="logo de facebook"></a>
            <a href="https://www.instagram.com/"><img src="/assets/icons/INSTA.png" alt="logo de instagram"></a>
            <a href="https://twitter.com/?lang=es"><img src="/assets/icons/TWITER.png" alt="logo de twiter"></a>
            <a href="https://web.whatsapp.com/"><img src="/assets/icons/WHATS.png" alt="logo de whatsapp"></a>
            <a href="https://www.youtube.com/"><img src="/assets/icons/YT.png" alt="logo de you tube"></a>
        </div>
    </footer>
</body>
</html>